

<div class="hero-img brew"></div>

<div class="banner-wrap">
	<h1 class="main-text">BREWDAL</h1>	
	<p class="message-text">Please wait while we brew something special<span>.</span><span>.</span><span>.</span></p>

	<hr width="80%">

	<p class="come-back">Come back soon</p>
</div>

	
<div class="hero-img brew-tools">
</div>