

<div class="hero-img brew"></div>

<div class="container banner-wrap">
	<h1 class="main-text">BREWDAL</h1>	
	<p id="please-wait" class="message-text">Please wait while we brew something special<span>.</span><span>.</span><span>.</span></p>

	<hr width="80%">

	<p class="come-back">Come back soon</p>

		<div id="social_wrapper">
			<div id='social-outlets' class="container social">
				<div class="fb-container">
					<div class="fb-like" data-href="http://www.brewdal.com" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
				</div>
				
				<div class="insta_icon">
					<a href="https://www.instagram.com/brewdalcoldbrew" target="_blank">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
</div>
<div class="hero-img brew-tools"></div>


