// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero-img {
	height: 500px;
	background-size: cover;
	background-position: center;
}
.brew {
	background-image: asset-url("hero_brew.png");
}

.brew-tools{
	background-image: asset-url("brew_tools.png");
	color: #fff;
}

.main-text {
	font-family: 'Adam';
	font-size: 3em;
}

.banner-wrap {
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.come-back{
	font-size: 1.5em;
}

.social {
	flex-direction: row wrap;
	justify-content: space-around;
	align-items: center;
}

.insta_icon{
	margin-left: 3px;
	color: #000;
	a{
		text-decoration: none;
		color: #000;
	}
	a:visited {
		color: #000;
	}
	a:hover {
		text-decoration: none;
		color: #6a413a;
	}
}


/* css animated loading dots */
.message-text {
	font-size: 2em;
}

.message-text span {
		font-family: 'Times New Roman';
		font-size: 50px;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.message-text span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.message-text span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
@keyframes blink {
	    /**
	     * At the start of the animation the dot
	     * has an opacity of .2
	     */
	    0% {
	      opacity: .2;
	    }
	    /**
	     * At 20% the dot is fully visible and
	     * then fades out slowly
	     */
	    20% {
	      opacity: 1;
	    }
	    /**
	     * Until it reaches an opacity of .2 and
	     * the animation can start again
	     */
	    100% {
	      opacity: .2;
	    }
}

/* END loading dots... */
.fb-container{
	align-self: center;
}


/* Media Queries */
@media screen and (min-width: 600px) and (max-width: 736px ){
	.hero-img {
		height: 250px;
	}
	.banner-wrap{
		margin-top: 2%;
	}
}

@media screen and (max-width: 415px){
	.hero-img{
		height: 220px;
	}
	.message-text{
		font-size:1.2em;
	}
}

